{% extends 'admin/change_list.html' %}

{% block content_title %}
    <h1> Challenge Summary </h1>
{% endblock %}

{% block result_list %}
    <div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Challenge Question</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Difficulty</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> <a href="/challenges/challenge/{{ row.id }}/change">{{ row.title }} </a></td>
        <td> {{ row.difficulty }} </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>

<div class="results">

    <h2>Challenge Difficulty</h2>
    <style>
        .bar-chart {
          display: flex;
          justify-content: space-around;
          height: 160px;
          padding-top: 60px;
          overflow: hidden;
        }
        .bar-chart .bar {
            flex: 100%;
            align-self: flex-end;
            margin-right: 2px;
            position: relative;
            background-color: #79aec8;
        }
        .bar-chart .bar:last-child {
            margin: 0;
        }
        .bar-chart .bar:hover {
            background-color: #417690;
        }
        .bar-chart .bar .bar-tooltip {
            position: relative;
            z-index: 999;
        }
        .bar-chart .bar .bar-tooltip {
            position: absolute;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-weight: bold;
            opacity: 0;
        }
        .bar-chart .bar:hover .bar-tooltip {
            opacity: 1;
        }
    </style>
    <div class="results">
        <div class="bar-chart">
        {% for x in challenge_difficulty_frequency %}
            <div class="bar" style="height:{{x.bar_height}}%; background-color: green">
                <div class="bar-tooltip">
                    Frequency: {{x.total | default:0 }}<br>
                    Difficulty: {{ x.period }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}



{% block pagination %}{% endblock %}